*{
    margin: 0px;
    padding: 0px;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.centerd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}