html, body{
	height: 100%;
	width: 100%
}
.button{
	padding: 20px;
	margin: 0 3px;
	border: 2px solid black;
	border-radius: 9px;
	cursor: pointer;
}
.row{
	margin: 12px 0;
}
.row input{
	padding: 10px 38px;
	border: 2px solid black;
	border-radius: 9px
}