body {
  background-color: #2c2c2c; 
  color: #f1f1f1;
  margin: 0px;
  padding: 0px;
}
#navbar{
    background-color: #1e1e1e;  
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
.submit-btn {
    margin-top: 25px;
    background-color: #4c89ff;      
    color: #ffffff;
    padding: 12px 24px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    font-family: "Poppins", sans-serif;
}

.submit-btn:hover {
    background-color: #6da0ff;     
    box-shadow: 0 0 15px rgba(76,137,255,0.5); 
    transform: translateY(-2px);
}

.submit-btn:active {
    transform: translateY(0px) scale(0.97);
}


.back-btn {
    background-color: #1e1e1e;     
    color: #f1f1f1;
    border: none;
    padding: 10px 18px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

.back-btn:hover {
    background-color: #292929; 
}
.create-blog-title {
    font-family: 'Poppins', 'Quicksand', sans-serif;  
    font-size: 26px;
    font-weight: 600;
    color: #f1f1f1;        
}
.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.document-area {
    width: 60%;                   
    height: 150vh;                
    background: #2f2f2f;         
    color: #ffff;
    padding: 30px;
    font-size: 1.1rem;
    line-height: 1.6;
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none;                 
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    font-family: "Poppins", sans-serif;
}
.title-block {
    width: 65%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "Poppins", sans-serif;
}

.title-block label {
    color: #eeeeee;
    font-size: 1rem;
    font-weight: 600;
}

.title-block input {
    width: 100%;
    padding: 14px 18px;
    font-size: 1.1rem;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #2f2f2f; 
    color: #f4f4f4;            
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    font-family: "Poppins", sans-serif;
}

.title-block input::placeholder {
    color: #b0b0b0;  
}
