body {
  background-color: #2c2c2c;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}


.home-container {
  width: 80%;
  max-width: 1100px;
  margin: 40px auto;
}


.page-title {
  font-size: 2rem;
  margin-bottom: 25px;
  text-align: center;
}


.no-blogs {
  text-align: center;
  color: #c1c1c1;
  margin-top: 50px;
}


.blogs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}


.blog-card {
  background-color: #353535;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.25);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.blog-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 18px rgba(0,0,0,0.35);
}

.blog-card h2 {
  margin-top: 0;
  font-size: 1.3rem;
}


.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.crnr{
  margin: 4px;
}

.read-btn {
  text-decoration: none;
  color: #86baff;
  font-weight: 600;
  transition: color 0.2s;
}
.delete-btn {
  text-decoration: none;
  color: red;
  font-weight: 600;
  transition: color 0.2s;
}


.read-btn:hover {
  color: #add3ff;
}
