*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("bg.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
#question-block{
    border: 1px solid black;
    width: 50vw;
    background-color: wheat;
    border-radius: 10px;
    padding: 10px;
}
button{
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(125, 125, 239);
    color: white;
}
input[type="text"]{
        width: 70%;
        height: 5vh;
        margin: 12.5px;
    }

@media (max-width: 600px) {
    #question-block {
        width: 80vw;
        min-height: 40vh;
    }
    #quiz-area{
        margin-top: 22.5%;
    }
    input[type="text"]{
        width: 70%;
        height: 5vh;
        margin: 12.5px;
    }
}

.text-center{
    text-align: center;
}
